html{
    background-color: ghostwhite;
    font-size: 20px;
}

.heading{
    background-color: black;
    color: gold;
}

.about{
    color: red;
}

p.about.me{
    background-color: black;
    color: burlywood;
    padding-block: 4px;
    padding-inline: 4px;
}

a:link{
    color: brown;

}