html{
    background-color: ghostwhite;
    
}

h2{
    color: red;
    font-style: italic; 
    font-weight: bold;
    border: 2px dashed blue;
    border-right: 2px dotted red;
    border-left: 2px dotted red;
    margin: 4px;
    padding-inline: 5px;

}

.heading{
    background-color: black;
    color: gold;
    border: 5px dashed gold;
    padding-inline: 5px;
    padding-block: 3px;
}

.me{
    margin: 5px
    color: red;
    border: 5px double blue;
    outline: 3px solid red;
    outline-offset: 2px;
}

.about.me{
    background-color: black;
    color: burlywood;
    padding-block: 4px;
    padding-inline: 4px;
    outline: none;
}

a:link{
    font-weight: bold;
    font-style: italic;

}

a:visited{
    color: blue;
}

a:hover{
    color: purple;
}

#CareerObjective{
    color: blue;

}

.Objective{
    color: red;
    border: 5px double blue;
    outline: dotted red;
    outline-offset:2px ;

}

.Edu{
    color: red;
}

.skill{ 
    colo
}

.Experience{
    
}

.Experiencelist{
    line-height: 2rem;
}



.Achievment{

}

.Interests{

}

.Question{

}

.Contactinfo{

}

.contactme{

}

.fill{

}

.motto{

}