html{
    background-color: ghostwhite;
    
}

h2{
    color: red;
    font-style: italic; 
    font-weight: bold;
    border: 2px dashed blue;
}

.heading{
    background-color: black;
    color: gold;
    border: 5px dashed gold;
    padding-inline: 5px;
    padding-block: 3px;
}

.about{
    color: red;
}

p.about.me{
    background-color: black;
    color: burlywood;
    padding-block: 4px;
    padding-inline: 4px;
}

a:link{
    font-weight: bold;
    font-style: italic;

}

a:visited{
    color: blue;
}

a:hover{
    color: purple;
}

#CareerObjective{
    color: blue;

}

.Objective{
    color: red;

}

.Edu{
    color: red;
}

.skill{ 
    colo
}